.mainDivClass
{
    margin-top: 5%;
    border: 0.5px solid grey;
    width: 80%;
    margin: auto;
    display: block;
}

.inputGroup
{
    margin-top: 5%;
    width: 60%;
    margin: auto;
    display: block;
}

.inputClass
{
    margin-top: 3%;
}

.btnClass
{
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 15%;
    margin-bottom: 15%;
}

.loginHeader
{
    font-size: 35px;
    color: black;
    font-weight: 700;
    margin-top: 8%;
}
